@tailwind base;
@tailwind components;
@tailwind utilities;

#nav a:hover {
  color: rgb(134 239 172);
}

#nav a {
  justify-content: center;
  gap: 0.5rem;
  display: flex;
  flex: 1 1 auto;
}

#nav .router-link-exact-active{
  color: rgb(134 239 172);
  padding-bottom: 10px;
  border-bottom: 2px solid;
  transition-duration: 0.3s;
}